:root {
    --main-color: #35424a;
    --secondary-color: #c82333;
    --scrollbarBG: #adadad3f;
        --thumbBG: #c82333;
}

.web {
    background-color: var(--main-color);
    text-transform: capitalize;
    border-bottom: 5px solid var(--secondary-color);
    color: white;
    position: relative;
}

.web .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.web__logo span {
    color: var(--secondary-color);
}

.category {
    padding: 10px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.category span{
    color: var(--secondary-color);
}
#countdown{
    font-weight: bold;
    font-size: 25px;
}
.queAndAns{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    padding: 10px 20px;
    width: 100%;
}
.question,
.answers{
    border: 2px var(--secondary-color) solid;
    height: 600px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    padding: 20px;
}
.paginationBtn{ 
    padding: 10px 17px; 
    margin: 30px 10px; 
    border: 1px solid var(--secondary-color); 
    border-radius: 5px;
    cursor: pointer;
}
.activeBtn{
    background-color: var(--secondary-color);
    color: white;

}
.form-check{
            margin-top: 50px;
            font-size: 17px;
            padding: 10px 25px;

}
.form-check-input{
    margin-left: -18px;
}
.form-check:hover{
       background-color: #c82333;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        transition: 0.6s ease;

}
.flag i {
    font-size: 25px;
    background-color: #c82333;
    color: #fff;
    padding: 15px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    text-align: right;
    margin-left: 95%;
    cursor: pointer;
}
.flagBtn{
    position: relative;
}
.flagBtn::before {
        content: '';
        position: absolute;
        background-color: #000;
        transform: skewY(30deg);
        top: 5px;
        width: 25px;
        height: 5px;
        border-radius: 15px;
}
.closee {
    border: none;
    background-color: white;
}

.closee i {
    font-size: 25px;
    color: #c82333;
}

.modal-title {
    color: #c82333;
    font-weight: bold;
    font-size: 25px;
}

.modalWidth {
    width: 90%;
}

.modal-content {
    margin-left: -100%;
    width: 240% !important;

}

.table {
    margin-top: 20px;
    padding-left: 20%;
}

.tabhead,
.tabbody{
    color: #000;
    text-align: center;
}
.queNumber {
    color: #c82333;
}

.modalWidth {
    margin-left: 20%;
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

.modalWidth::-webkit-scrollbar {
    width: 9px;

}

.modalWidth::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}

.modalWidth::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 6px;
    border: 1px solid var(--thumbBG);
}
@media (max-width:767px) {
    .exam{
        display: flex;
        flex-direction: column;
    }
    .exam-btn{
        margin: 5px;
    }
        .queAndAns{
            display: flex;
            width: 100%;
            flex-direction: column;
        }
        .que__body{
            font-size: 11px;
        }
        .test__info-heading,
        .ans__title{
            margin-bottom: 10px;
            font-size: 30px;
        }
        .test__info-heading{
             font-size: 25px;
        }
        .form-check{
            margin: 5px;
        }
        .flag i{
            margin-left:80%;
            margin-bottom: 5px;
            margin-top: -50px;
        }
}
@media (min-width:768px) and (max-width:1410px) {
    .exam {
        display: flex;
        flex-direction: column;
    }

    .exam-btn {
        margin: 5px;
    }

    .queAndAns {
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    .flag i {
        margin-left: 80%;
        margin-bottom: 5px;
        margin-top: -50px;
    }
}